table, th, td 
{
	border: black 1px solid;
}

body 
{
	color:blue;
	font-size: 15px;
	background-color: #aaa;
	
}
h1 
{
	color: rgb(0%,100%,0%)
}

fielset
{
	width: zzzzpx;
}

#leon 
{
	width: 200px;
}
#avestruz 
{
	width: 200px;
}
#llama 
{
	width: 200px;
}